@media screen and (min-width: 992px) {
  #services h2::before {
    left: 0;
    transform: translatex(-12%);
  }
  .services-title {
    text-align: left;
  }
  .carousel-control-prev {
    visibility: visible !important;
  }
  .carousel-control-next {
    visibility: visible !important;
  }
  .carousel-inner {
    width: 750px;
    margin: auto;
  }
  .title {
    font-size: 100px;
    letter-spacing: -3px;
  }
  .subtitle {
    font-size: 18px;
  }
  .nav-link:focus,
  .nav-link:hover,
  .nav-link.my-border-edite,
  .nav-link.my-border-edite.active {
    color: white;
  }
  .my-border-edite {
    color: white;
  }
  .unscrolled-white {
    --white-unscrolled: rgb(0, 0, 0);
  }
  .firts {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/Dr1.jpg); /* تغيير الألوان حسب الحاجة */
    background-position: center;
    background-size: cover;
  }
  .second {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/Dr2.jpg); /* تغيير الألوان حسب الحاجة */
    background-position: center;
    background-size: cover;
  }
  .third {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/Dr3.jpg); /* تغيير الألوان حسب الحاجة */
    background-position: center;
    background-size: cover;
  }
  .fourth {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../img/Dr4.jpg); /* تغيير الألوان حسب الحاجة */
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-control-prev {
    transform: translateX(-10%) !important;
  }
  .carousel-control-next {
    transform: translateX(10%) !important;
  }
}
